<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Search Results</h1>
 <div class="box">
{% include "_search_form.html" with context %}
</div>
<div class="toolbar">
  <button class="openmodal" data-modal="yearsModal" data-key="year" id="yearsBtn">📅 ▾</button>
  <button class="openmodal" data-modal="typesModal" data-key="type" id="typesBtn">📖📑📓📕📋📝 ▾</button>
  <button class="openmodal" data-modal="topicsModal" data-key="topics" id="topicsBtn">Topics ▾</button>
  <button class="openmodal" data-modal="conceptsModal" data-key="concepts" id="conceptsBtn">Concepts ▾</button>
  <button class="openmodal" data-modal="langModal"  data-key="lang" id="langBtn">Language ▾</button>
  <div class="toggle-group">
    <label class="switch">
      <input type="checkbox" id="oaToggle">
      <span class="slider"></span>
    </label>
    <span>Open Access</span>
  </div>
  <button   id="clearBtn">✗</button>
</div>
{% include "filter_modals.html" %}
<!-- results placeholder -->
       <div class="card">
          <h3>Results({{total}})</h3>
          <table class="results-table">
            <thead>
              <tr>
                {% for f in displayed_fields %}
                  <th>{{ f }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for res in results %}
              {% set r=res["_source"] %}
                <tr>
                  {% for f in displayed_fields %}
                    {% if f=="countries_hist" %}
                    <td ><div class="truncate" title="{{ r.get(f, "") }}">{{ r.get(f, "") }}</div></td>
                    {% elif f == "id" %}                  
                    <td>
                      <a href="{{ r.get(f) }}" class="id-link" target="_blank" rel="noopener">
                        {{ r.get(f) }}
                      </a>
                    </td>
                    {% elif f == "title" %}                  
                    <td>
                      {%set ref=r.get('id').replace('https://openalex.org/','')%}
                      <a href="/json/{{ ref }}" class="id-link" target="_blank" rel="noopener">
                        {{ r.get(f) }}
                      </a>
                    </td>
                    {% else %}
                    <td>{{ r.get(f, "") }}</td>
                    {% endif %}
                  {% endfor %}
                  <td>
                    {%set ref=r.get('id').replace('https://openalex.org/','')%}
                    <a href="/download/{{ ref }}" class="id-link" target="_blank" rel="noopener">
                        📥
                    </a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

</body>
<script>
  const active = JSON.parse('{{ active | tojson | safe }}');
  function openModal(id) {
  const modal = document.getElementById(id);
  if (modal) modal.style.display = "block";
}
document.addEventListener("click", function (e) {
  if (e.target.matches(".openmodal")) {
    const id = e.target.dataset.modal;
    openModal(id);
  }
});

document.querySelectorAll(".openmodal").forEach(btn => {
  const key = btn.dataset.key;
  if (active.includes(key)) {
    btn.classList.add("active");
  }
});
 
document.getElementById("clearBtn").addEventListener("click", async () => {
  const res = await fetch("/clear_filters", {
    method: "POST"
  });

  const data = await res.json();
  if (data.success) {
    // update UI as needed
    console.log("Filters cleared");
    // optional: reload page if UI depends on session
    location.reload();
  }
});

document.getElementById("oaToggle").addEventListener("change", async (e) => {
  const value = e.target.checked ? "1" : "0";

  await fetch("/set_oa_filter", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({ oa_filter: value })
  });
});
</script>
</html>